{% extends 'base.html.twig' %}

{% block title %}Ausstattung{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ausstattung</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ausstattung.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ausstattung.name }}</td>
            </tr>
            <tr>
                <th>Nettopreis</th>
                <td>{{ (ausstattung.nettoPreis/100) | number_format(2, ',','.') }} €</td>
            </tr>
            <tr>
                <th>Nettopreis intern</th>
                <td>{{ (ausstattung.nettoPreisIntern/100) | number_format(2, ',','.') }} €</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('ausstattung_index') }}">Liste der Ausstattungen</a>

        <a class="btn btn-primary" href="{{ path('ausstattung_edit', {'id': ausstattung.id}) }}">Bearbeiten</a>

        {% if ausstattung.kloKiEvents.count == 0 %}
            {{ include('ausstattung/_delete_form.html.twig') }}

        {% else %}
            <hr/>
           <h2>Verwendet in diesen Events (kann daher nicht gelöscht werden):</h2>
            {{ include('klo_ki_event/_compact_list_table.html.twig', {'events': ausstattung.kloKiEvents}) }}
        {% endif %}
    </div>
{% endblock %}
