{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Speichern') }}</button>
    <a class="btn btn-primary" href="{{ path('bestuhlungsplan_index') }}">Zurück zu Liste</a>
{{ form_end(form) }}
