{% extends 'base.html.twig' %}

{% block title %}Bestuhlungspläne{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Bestuhlungspläne</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Sitzplätze unten</th>
                <th>Sitzplätze Empore</th>
                <th>Stehplätze</th>
                <th>Gesamt</th>
                <th>Anz. Events</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for bestuhlungsplan in bestuhlungsplans %}
                <tr>
                    <td><a href="{{ path('getPdf', {'id': bestuhlungsplan.pdfFilePath}) }}">{{ bestuhlungsplan.name }}</a></td>
                    <td>{{ bestuhlungsplan.sitzplaetze }}</td>
                    <td>{{ bestuhlungsplan.sitzplaetzeOben }}</td>
                    <td>{{ bestuhlungsplan.stehplaetze }}</td>
                    <td>{{ bestuhlungsplan.stehplaetze + bestuhlungsplan.sitzplaetzeOben + bestuhlungsplan.sitzplaetze }}</td>
                    <td>{{ bestuhlungsplan.kloKiEvents.count }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('bestuhlungsplan_show', {'id': bestuhlungsplan.id}) }}"><span class="fas fa-search"></span></a>
                        <a class="btn btn-primary" href="{{ path('bestuhlungsplan_edit', {'id': bestuhlungsplan.id}) }}"><span class="fas fa-edit"></span></a>
                        {% if bestuhlungsplan.kloKiEvents.count == 0 %}
                        {{ include('bestuhlungsplan/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('bestuhlungsplan_new') }}">Neuer Bestuhlungsplan</a>
    </div>
{% endblock %}
