{% extends 'base.html.twig' %}

{% block title %}Bestuhlungsplan{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bestuhlungsplan</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bestuhlungsplan.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td><a href="{{ path('getPdf', {'id': bestuhlungsplan.pdfFilePath}) }}">{{ bestuhlungsplan.name }}</a></td>
            </tr>
            <tr>
                <th>Sitzplaetze</th>
                <td>{{ bestuhlungsplan.sitzplaetze }}</td>
            </tr>
            <tr>
                <th>Stehplaetze</th>
                <td>{{ bestuhlungsplan.stehplaetze }}</td>
            </tr>
            <tr>
                <th>PdfFilePath</th>
                <td>{{ bestuhlungsplan.pdfFilePath }}</td>
            </tr>
            <tr>
                <th>PngFilePath</th>
                <td>{{ bestuhlungsplan.pngFilePath }}</td>
            </tr>
            </tbody>
        </table>


        <a class="btn btn-primary" href="{{ path('bestuhlungsplan_edit', {'id': bestuhlungsplan.id}) }}"><span class="fas fa-edit"></span></a>
        <a class="btn btn-primary" href="{{ path('bestuhlungsplan_index') }}">Liste der Bestuhlungspläne</a>

        {% if bestuhlungsplan.kloKiEvents.count == 0 %}
        {{ include('bestuhlungsplan/_delete_form.html.twig') }}
        {% endif %}

        {% if bestuhlungsplan.kloKiEvents.count > 0 %}
            <hr/>
            <h2>Events mit diesem Bestuhlungsplan</h2>
        {{ include('klo_ki_event/_compact_list_table.html.twig', {'events': bestuhlungsplan.kloKiEvents}) }}
        {% endif %}
    </div>
{% endblock %}
