{% extends 'base.html.twig' %}

{% block title %}StageOrder{% endblock %}

{% block body %}
    <div class="container">
        <h1>StageOrder</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage_order.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stage_order.name }}</td>
            </tr>
            <tr>
                <th>PdfFileName</th>
                <td>{{ stage_order.pdfFileName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage_order.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ stage_order.createdAt ? stage_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ stage_order.updatedAt ? stage_order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('stage_order_index') }}">Liste</a>
        <a class="btn btn-primary" href="{{ path('stage_order_edit', {'id': stage_order.id}) }}"><span class="fas fa-edit"></span></a>

        {% if stage_order.kloKiEvents.count == 0 %}
        {{ include('stage_order/_delete_form.html.twig') }}
        {% else %}
            <hr/>
            <h2>Events mit diesem Bühnenplan</h2>
            {{ include('klo_ki_event/_compact_list_table.html.twig', {'events': stage_order.kloKiEvents}) }}
        {% endif %}
    </div>
{% endblock %}
