<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Clemens Tewinkel">
        <title>Klosterkirche</title>
        {% block styles %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascript %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body
        data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
        data-user-id="{{ app.user ? app.user.id : 'false' }}"
        data-user-roles='{{ app.user ? app.user.roles|json_encode|e('html_attr') : 'false' }}'
    >
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            {{ include('_menu.html.twig') }}
        </nav>
        <main role="main" class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
