{{ form_start(form, {'action': klo_ki_form_action, attr: {novalidate: 'novalidate'}}) }} {# TODO: novalidate raus! #}
<style>
    .ck-editor__editable_inline {
        min-height: 200px;
    }
</style>


<div class="form-group row">
    <label class="col-form-label col-sm-2">Name</label>
    <div class="col-sm-6">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="col-sm-2">
    {% if form.isFixed is defined %}
        {{ form_widget(form.isFixed) }}
    {% endif %}
    </div>
    <div class="col-sm-2">
        {% if form.contractState is defined %}
            {{ form_widget(form.contractState) }}
        {% endif %}
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2">Art / Ort</label>
    <div class="col-sm-3">
        {{ form_widget(form.art) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.kategorie) }}
    </div>
    <div class="col-sm-4">
        {{ form_widget(form.room) }}
        {{ form_errors(form.room) }}
    </div>
</div>


{{ form_row(form.allDay) }}

<div class="form-group row {% if form.startDate.vars.errors|length %} is-invalid {% endif %}">
    {{ form_label(form.startDate) }}
    <div class="col-sm-8">
        {{ form_widget(form.startDate) }}
        {{ form_errors(form.startDate) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.startTime, {attr: {class: form.endDate.vars.errors|length ? 'is-invalid js-event-time-field' : 'js-event-time-field'}}) }}
    </div>
</div>


<div class="form-group row {% if form.endDate.vars.errors|length %} is-invalid {% endif %}">
    {{ form_label(form.endDate) }}
    <div class="col-sm-8">
        {{ form_widget(form.endDate) }}
        {{ form_errors(form.endDate) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.endTime, {attr: {class: form.endDate.vars.errors|length ? 'is-invalid js-event-time-field' : 'js-event-time-field'}}) }}
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2">Benötigt:</label>
    <div class="col-sm-2">
        {{ form_widget(form.isBestBenoetigt, {'label': 'Bestuhlung'}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.isLichtBenoetigt, {'label': 'Licht'}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.isTonBenoetigt, {'label': 'Ton'}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.helperRequired, {'label': 'Helfer'}) }}
    </div>
    <div class="col-sm-2">
    </div>
</div>

{{ form_row(form.LichtTechniker) }}
{{ form_row(form.TonTechniker) }}





{{ form_row(form.anzahlArtists) }}

<div id="js-event-helper-section">
    <div class="form-group row ">
        <label class="col-form-label col-sm-2">Helfer</label>
        <div class="col-sm-10">
            {{ form_row(form.helperEinlassEins) }}
            {{ form_row(form.helperEinlassZwei) }}
            {{ form_row(form.helperSpringerEins) }}
            {{ form_row(form.helperSpringerZwei) }}
            {{ form_row(form.helperKasse) }}
            Verfügbar:
            {% for helper in klo_ki_event.availableHelpers %}
                {{ helper }}
            {% endfor %}
        </div>
    </div>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2">Kontakt</label>
    <div class="col-sm-8">
        {{ form_widget(form.kontakt) }}
        {{ form_errors(form.kontakt) }}
    </div>
    <div class="col-sm-2">
        <a id="js-new-address-button" class="js-no-retarget btn btn-primary">Neu...</a>
    </div>
</div>

{{ form_widget(form) }}
<button class="btn btn-primary">{{ button_label|default('Speichern') }}</button>

{{ form_end(form) }}

{{ include('common/_modal_dialog.html.twig') }}