{{ form_start(form, {'action': klo_ki_form_action, attr: {novalidate: 'novalidate'}}) }} {# TODO: novalidate raus! #}
<style>
    .ck-editor__editable_inline {
        min-height: 200px;
    }
</style>

<div class="container" style="background-color: #c2d87e;">
    <hr/>
    <h4>Datum</h4>
    <div class="form-group row {% if form.startDate.vars.errors|length %} is-invalid {% endif %}">
        {{ form_label(form.startDate) }}
        <div class="col-sm-4">
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.startTime, {attr: {class: form.endDate.vars.errors|length ? 'is-invalid js-event-time-field' : 'js-event-time-field'}}) }}
        </div>
    </div>
    <div class="form-group row {% if form.endDate.vars.errors|length %} is-invalid {% endif %}">
        {{ form_label(form.endDate) }}
        <div class="col-sm-4">
            {{ form_widget(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.endTime, {attr: {class: form.endDate.vars.errors|length ? 'is-invalid js-event-time-field' : 'js-event-time-field'}}) }}
        </div>
    </div>
    {{ form_row(form.allDay) }}
    <hr/>
</div>

<div class="container" style="background-color: #BBCDD8;">
    <hr/>
    <h4>Veranstaltung</h4>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Name / Status</label>
        <div class="col-sm-6">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col-sm-2">
            {% if form.isFixed is defined %}
                {{ form_widget(form.isFixed) }}
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% if form.contractState is defined %}
                {{ form_widget(form.contractState) }}
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Kontakt</label>
        <div class="col-sm-8">
            {{ form_widget(form.kontakt) }}
            {{ form_errors(form.kontakt) }}
        </div>
        <div class="col-sm-2">
            <a id="js-new-address-button" class="js-no-retarget btn btn-primary">Neu...</a>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Raum</label>
        <div class="col-sm-4">
            {{ form_widget(form.room) }}
            {{ form_errors(form.room) }}
        </div>
        <label class="col-form-label col-sm-2">Hauptevent</label>
        <div class="col-sm-4">
            {{ form_widget(form.ParentEvent) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Art</label>
        <div class="col-sm-2">
            {% if form.art is defined %}
                {{ form_widget(form.art) }}
            {% else %}
                {{ 'rental' | readable_enum('EventArtType') }}
            {% endif %}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.kategorie) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.isReducedPrice, {'label': '10%'}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.is4hPrice, {'label': '4h-Preis'}) }}
        </div>
    </div>

    {{ form_row(form.ausstattung) }}
    <hr/>
</div>

<div class="container" style="background-color: #d8cb9b;">
    <hr/>
    <h4>Dispo</h4>
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Benötigt:</label>
        <div class="col-sm-2">
            {{ form_widget(form.isLichtBenoetigt, {'label': 'Licht'}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.isBestBenoetigt, {'label': 'Stühle'}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.isTonBenoetigt, {'label': 'Ton'}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.helperRequired, {'label': 'Helfer'}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-form-label col-sm-2">Presse-Mat.</label>
        <div class="col-sm-4">
            {{ form_widget(form.pressMaterialState) }}
        </div>
        <label class="col-form-label col-sm-2">Gema-Liste</label>
        <div class="col-sm-4">
            {{ form_widget(form.gemaListState) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Bestuhlung</label>
        <div class="col-sm-4">
            {{ form_widget(form.bestPlan) }}
        </div>
        <label class="col-form-label col-sm-2">Bühnenanw.</label>
        <div class="col-sm-4">
            {{ form_widget(form.stageOrder) }}
        </div>
    </div>


    {% if form.LichtTechniker is defined %}
    <div class="form-group row">
        <label class="col-form-label col-sm-2">Licht-Te.</label>
        <div class="col-sm-4">
            {{ form_widget(form.LichtTechniker) }}
        </div>
        <label class="col-form-label col-sm-2">Ton-Te.</label>
        <div class="col-sm-4">
            {{ form_widget(form.TonTechniker) }}
        </div>
    </div>
    {% endif %}


    <div class="form-group row">
        <label class="col-form-label col-sm-2">Künstler</label>
        <div class="col-sm-4">
            {{ form_widget(form.hotelState) }}
        </div>
        <label class="col-form-label col-sm-1">Zimmer</label>
        <div class="col-sm-2">
            {{ form_widget(form.overnightStays) }}
        </div>

        <label class="col-form-label col-sm-1">Bewirt.</label>
        <div class="col-sm-2">
        {{ form.anzahlArtists is defined ? form_widget(form.anzahlArtists) : '' }}
        </div>
    </div>

    {% if form.helperEinlassEins is defined %}
    <div id="js-event-helper-section">
        <div class="form-group row ">
            <label class="col-form-label col-sm-2">Helfer</label>
            <div class="col-sm-10">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Einlass 1</label><div class="col-sm-4">{{ form_widget(form.helperEinlassEins) }}</div>
                    <label class="col-form-label col-sm-2">Einlass 2</label><div class="col-sm-4">{{ form_widget(form.helperEinlassZwei) }}</div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Springer 1</label><div class="col-sm-4">{{ form_widget(form.helperSpringerEins) }}</div>
                    <label class="col-form-label col-sm-2">Springer 2</label><div class="col-sm-4">{{ form_widget(form.helperSpringerZwei) }}</div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Kasse</label><div class="col-sm-4">{{ form_widget(form.helperKasse) }}</div>
                    <label class="col-form-label col-sm-2">Garderobe</label><div class="col-sm-4">{{ form_widget(form.helperGarderobe) }}</div>
                </div>
                Verfügbar:
                {% for helper in klo_ki_event.availableHelpers %}
                    {{ helper }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <hr/>
</div>
<div class="container" style="background-color: #b6d893;">
    <br/>
    {{ form_widget(form) }}
    <br/>
</div>
<br/>
<button class="btn btn-primary">{{ button_label|default('Speichern') }}</button>

{{ form_end(form) }}

{{ include('common/_modal_dialog.html.twig') }}