
    {{ include('klo_ki_event/_show_head.html.twig') }}
    {{ include('klo_ki_event/_show_table.html.twig') }}

    {% if klo_ki_event.kontakt %}
        <h2>Kontakt:</h2>
        {{ include('addresse/addresse_kompakt.html.twig', {'addresse': klo_ki_event.kontakt}) }}
    {% endif  %}

    {% if klo_ki_event.ausstattung.count > 0 %}
    <h2>Weitere Ausstattung</h2>
    <ul>
        {%  for a in klo_ki_event.ausstattung  %}
            {# @ var a App\Entity\Ausstattung #}
        <li>{{ a }} ({{ (a.nettoPreis/100) | number_format(2, ',', '.') }} € zuzügl. MwSt.)</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if klo_ki_event.bestPlan %}
        <h2>Bestuhlung</h2>
        <a class="js-no-retarget" href="{{ path('getPdf', {'id': klo_ki_event.bestPlan.pdfFilePath}) }}">
            <img alt="Bestuhlungsplan" src="{{ path('getPng', {'id': klo_ki_event.bestPlan.pngFilePath}) }}" />
        </a>
        {{ klo_ki_event.bestPlan }}
    {% endif %}

    {% if klo_ki_event.stageOrder %}
        <h2>Bühnenanweisung</h2>
        <a class="js-no-retarget" href="{{ path('getPdf', {'id': klo_ki_event.stageOrder.pdfFileName}) }}">
            <img alt="Bühnenanweisung" src="{{ path('getPng', {'id': klo_ki_event.stageOrder.pngFileName }) }}" />
        </a>
        {{ klo_ki_event.stageOrder }}
    {% endif %}


    {% if klo_ki_event.childEvents.count > 0 %}
    <h2>Dazugehörige Events</h2>
        <ul>
        {% for event in klo_ki_event.childEvents %}
            <li>
                <a href="{{ path('klo_ki_event_show', {'id': event.id } ) }}">{{ event }}</a>
            </li>
        {% endfor %}
        </ul>

    {% endif %}

    {% if klo_ki_event.bemerkung %}
    <h2>Bemerkung:</h2>
    {{ klo_ki_event.bemerkung | raw }}
    {% endif %}


    {% if is_granted('ROLE_HELPER') %}
        {% if userInHelpers %}
            <form method="post" action="{{ path('klo_ki_event_icannothelp', {'id': klo_ki_event.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('icannothelp' ~ klo_ki_event.id) }}">
                <button class="btn btn-danger">Ich kann doch nicht helfen!</button>
            </form>
            {% else %}
            <form method="post" action="{{ path('klo_ki_event_icanhelp', {'id': klo_ki_event.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('icanhelp' ~ klo_ki_event.id) }}">
                <button class="btn btn-primary">Ich kann helfen!</button>
            </form>
        {% endif %}
    {% endif %}



    {# if is_granted('ROLE_ADMIN') or is_granted('ROLE_FOOD') #}
    {% if is_granted('EVENT_EDIT', klo_ki_event) %}
        <hr/>
        <a class="btn btn-primary" href="{{ path('klo_ki_event_edit', {'id': klo_ki_event.id}) }}">
            Bearbeiten
        </a>
    {% elseif is_granted('ROLE_FOOD') %}
        <hr/>
        <a class="btn btn-primary" href="{{ path('klo_ki_event_edit_remark', {'id': klo_ki_event.id}) }}">
            Bemerkung bearbeiten
        </a>
    {% endif %}



    {% if is_granted('ROLE_ADMIN') %}
        <button data-event-id="{{ klo_ki_event.id }}" id="js-mail2helper" class="btn btn-primary">
            Mail an Helfer
        </button>
        <button data-event-id="{{ klo_ki_event.id }}" id="js-mail2techs" class="btn btn-primary" >
            Mail an Techniker
        </button>
    {% endif %}


    {% if klo_ki_event.start %}
    <script>
        if(fullcalendar)
        {
            fullcalendar.gotoDate('{{ klo_ki_event.start | date('Y-m-d') }}');
        }
    </script>
    {% endif%}
