{% extends 'base.html.twig' %}

{% block title %}Events in der Klosterkirche{% endblock %}

{% block body %}
    <h1>Events in der Klosterkirche</h1>
    <form action="{{ path('klo_ki_event_index') }}" method="GET">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="name_contains" value="{{ app.request.query.get('name_contains') }}" placeholder="Name enthält"/>
            </div>
            <div class="col">
                <select name="room_id[]" data-width="fit" class="selectpicker" title="Räume auswählen..." multiple>
                    {% for room in rooms %}
                    <option value="{{ room.id }}" {% if room.id in app.request.query.get('room_id') %} selected="selected" {% endif %}> {{ room.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="art[]" data-width="fit" class="selectpicker" title="Art auswählen..." multiple>
                    <option value="rental" {% if "rental" in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "rental" | readable_enum('EventArtType') }}</option>
                    <option value="show"   {% if "show"   in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "show"   | readable_enum('EventArtType') }}</option>
                    <option value="fair"   {% if "fair"   in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "fair"   | readable_enum('EventArtType') }}</option>
                </select>
            </div>
            <div class="col">
                <input type="text" id="event_filter_startDate" class="form-control" autocomplete="off" name="beginAtAfter" value="{{ app.request.query.get('beginAtAfter') }}" placeholder="Datum ab"/>
            </div>
            <div class="col">
                <input type="text" id="event_filter_endDate" class="form-control" autocomplete="off" name="beginAtBefore" value="{{ app.request.query.get('beginAtBefore') }}" placeholder="Datum bis"/>
                <input type="hidden" name="sort" value="{{ app.request.query.get('sort') }}"/>
                <input type="hidden" name="direction" value="{{ app.request.query.get('direction') }}"/>
            </div>
            <div class="col">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <hr/>
    {{ knp_pagination_render(pagination) }}
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'event.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ort', 'room.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Begin und Dauer', 'event.beginAt') }}</th>
                <th>Anz. Künstl.</th>
                <th>Bestuhlt?</th>
                <th>Licht?</th>
                <th>Ton?</th>
                <th>Art</th>
                <th>Kontakt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for klo_ki_event in pagination %}
            <tr>
                <td>{{ klo_ki_event.name }}</td>
                <td>{{ klo_ki_event.room }}</td>
                <td>{{ include('klo_ki_event/_time_range.html.twig', {'event': klo_ki_event}) }}</td>
                <td>{{ klo_ki_event.anzahlArtists }}</td>
                <td>{{ klo_ki_event.isBestBenoetigt ? 'Ja' : 'Nein' }}</td>
                <td>{{ klo_ki_event.isLichtBenoetigt ? 'Ja' : 'Nein' }}</td>
                <td>{{ klo_ki_event.isTonBenoetigt ? 'Ja' : 'Nein' }}</td>
                <td>{{ klo_ki_event.art | readable_enum('EventArtType') }}</td>
                <td>{{ klo_ki_event.kontakt }}</td>
                <td>
                    <a href="{{ path('klo_ki_event_show', {'id': klo_ki_event.id}) }}"><span class="fas fa-eye"></span></a>
                    <a href="{{ path('klo_ki_event_edit', {'id': klo_ki_event.id}) }}"><span class="fas fa-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('klo_ki_event_new') }}">Neues Event <span class="fas fa-edit"></span></a>
    {{ encore_entry_script_tags('event-filter') }}
{% endblock %}
