{% extends 'base.html.twig' %}

{% block title %}Events in der Klosterkirche{% endblock %}

{% block body %}
    <h1>Events in der Klosterkirche</h1>
    <div class="row d-none d-print-block">
        {% if "rental"    in app.request.query.get('art')                %} {{ "rental"    | readable_enum('EventArtType')           }} {% endif %} 
        {% if "show"      in app.request.query.get('art')                %} {{ "show"      | readable_enum('EventArtType')           }} {% endif %} 
        {% if "fair"      in app.request.query.get('art')                %} {{ "fair"      | readable_enum('EventArtType')           }} {% endif %} 
        {% if "none"      in app.request.query.get('contractState')      %} {{ "none"      | readable_enum('ContractStateType')      }} {% endif %} 
        {% if "requested" in app.request.query.get('contractState')      %} {{ "requested" | readable_enum('ContractStateType')      }} {% endif %} 
        {% if "sent"      in app.request.query.get('contractState')      %} {{ "sent"      | readable_enum('ContractStateType')      }} {% endif %} 
        {% if "received"  in app.request.query.get('contractState')      %} {{ "received"  | readable_enum('ContractStateType')      }} {% endif %} 
        {% if "none"      in app.request.query.get('hotelState')         %} {{ "none"      | readable_enum('HotelStateType')         }} {% endif %} 
        {% if "needed"    in app.request.query.get('hotelState')         %} {{ "needed"    | readable_enum('HotelStateType')         }} {% endif %} 
        {% if "booked"    in app.request.query.get('hotelState')         %} {{ "booked"    | readable_enum('HotelStateType')         }} {% endif %} 
        {% if "none"      in app.request.query.get('pressMaterialState') %} {{ "none"      | readable_enum('PressMaterialStateType') }} {% endif %} 
        {% if "needed"    in app.request.query.get('pressMaterialState') %} {{ "needed"    | readable_enum('PressMaterialStateType') }} {% endif %} 
        {% if "available" in app.request.query.get('pressMaterialState') %} {{ "available" | readable_enum('PressMaterialStateType') }} {% endif %} 
    </div>
    <form action="{{ path('klo_ki_event_index') }}" method="GET" class="d-print-none">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="name_contains" value="{{ app.request.query.get('name_contains') }}" placeholder="Name enthält"/>
            </div>
            <div class="col">
                <select name="room_id[]" data-width="fit" class="selectpicker" title="Räume auswählen..." multiple>
                    {% for room in rooms %}
                    <option value="{{ room.id }}" {% if room.id in app.request.query.get('room_id') %} selected="selected" {% endif %}> {{ room.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="art[]" data-width="fit" class="selectpicker" title="Art auswählen..." multiple>
                    <option value="rental" {% if "rental" in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "rental" | readable_enum('EventArtType') }}</option>
                    <option value="show"   {% if "show"   in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "show"   | readable_enum('EventArtType') }}</option>
                    <option value="fair"   {% if "fair"   in app.request.query.get('art') %} selected="selected" {% endif %}> {{ "fair"   | readable_enum('EventArtType') }}</option>
                </select>
            </div>

            <div class="col">
                <select name="contractState[]" data-width="fit" class="selectpicker" title="Vertragsstatus..." multiple>
                    <option value="none"      {% if "none"      in app.request.query.get('contractState') %} selected="selected" {% endif %}> {{ "none"      | readable_enum('ContractStateType') }}</option>
                    <option value="requested" {% if "requested" in app.request.query.get('contractState') %} selected="selected" {% endif %}> {{ "requested" | readable_enum('ContractStateType') }}</option>
                    <option value="sent"      {% if "sent"      in app.request.query.get('contractState') %} selected="selected" {% endif %}> {{ "sent"      | readable_enum('ContractStateType') }}</option>
                    <option value="received"  {% if "received"  in app.request.query.get('contractState') %} selected="selected" {% endif %}> {{ "received"  | readable_enum('ContractStateType') }}</option>
                </select>
            </div>
            <div class="col">
                <select name="hotelState[]" data-width="fit" class="selectpicker" title="Hotel..." multiple>
                    <option value="none"   {% if "none"   in app.request.query.get('hotelState') %} selected="selected" {% endif %}> {{ "none"   | readable_enum('HotelStateType') }}</option>
                    <option value="needed" {% if "needed" in app.request.query.get('hotelState') %} selected="selected" {% endif %}> {{ "needed" | readable_enum('HotelStateType') }}</option>
                    <option value="booked" {% if "booked" in app.request.query.get('hotelState') %} selected="selected" {% endif %}> {{ "booked" | readable_enum('HotelStateType') }}</option>
                </select>
            </div>

            <div class="col">
                <select name="pressMaterialState[]" data-width="fit" class="selectpicker" title="PresseMaterial..." multiple>
                    <option value="none"      {% if "none"      in app.request.query.get('pressMaterialState') %} selected="selected" {% endif %}> {{ "none"      | readable_enum('PressMaterialStateType') }}</option>
                    <option value="needed"    {% if "needed"    in app.request.query.get('pressMaterialState') %} selected="selected" {% endif %}> {{ "needed"    | readable_enum('PressMaterialStateType') }}</option>
                    <option value="available" {% if "available" in app.request.query.get('pressMaterialState') %} selected="selected" {% endif %}> {{ "available" | readable_enum('PressMaterialStateType') }}</option>
                </select>
            </div>

            <div class="col">
                <select name="gemaListState[]" data-width="fit" class="selectpicker" title="Gema-Liste" multiple>
                    <option value="none"      {% if "none"      in app.request.query.get('gemaListState') %} selected="selected" {% endif %}> {{ "none"      | readable_enum('PressMaterialStateType') }}</option>
                    <option value="needed"    {% if "needed"    in app.request.query.get('gemaListState') %} selected="selected" {% endif %}> {{ "needed"    | readable_enum('PressMaterialStateType') }}</option>
                    <option value="available" {% if "available" in app.request.query.get('gemaListState') %} selected="selected" {% endif %}> {{ "available" | readable_enum('PressMaterialStateType') }}</option>
                </select>
            </div>



            <div class="col">
                <select name="tech[]" data-width="fit" class="selectpicker" title="Techniker..." multiple>
                    <option value="sound" {% if "sound" in app.request.query.get('tech') %} selected="selected" {% endif %}>Tontechniker fehlt</option>
                    <option value="light" {% if "light" in app.request.query.get('tech') %} selected="selected" {% endif %}>Lichttechniker fehlt</option>
                </select>
            </div>



            <div class="col">
                <select name="state" data-width="fit" title="Status">
                    <option value="">Status...</option>
                    <option value="fixed"  {% if "fixed"  == app.request.query.get('state') %} selected="selected" {% endif %}>fest</option>
                    <option value="option" {% if "option" == app.request.query.get('state') %} selected="selected" {% endif %}>option</option>
                </select>
            </div>

            <div class="col">
                <select name="ba" data-width="fit" title="Bühnenanw." >
                    <option value="">Bühnenanw. ...</option>
                    <option value="avail"  {% if "avail"  == app.request.query.get('ba') %} selected="selected" {% endif %}>BA. liegt vor</option>
                    <option value="miss"   {% if "miss"   == app.request.query.get('ba') %} selected="selected" {% endif %}>BA. fehlt</option>
                </select>
            </div>



            <div class="col">
                <input type="text" id="event_filter_startDate" class="form-control" autocomplete="off" name="beginAtAfter" value="{{ app.request.query.get('beginAtAfter') }}" placeholder="Datum ab"/>
            </div>
            <div class="col">
                <input type="text" id="event_filter_endDate" class="form-control" autocomplete="off" name="beginAtBefore" value="{{ app.request.query.get('beginAtBefore') }}" placeholder="Datum bis"/>
                <input type="hidden" name="sort" value="{{ app.request.query.get('sort') }}"/>
                <input type="hidden" name="direction" value="{{ app.request.query.get('direction') }}"/>
            </div>
            <div class="col">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <hr/>
    <div class="row">
        <div class="col-4 d-print-none">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-4" align="center"><span class="page-link">{{ pagination.totalItemCount }} Events insgesamt</span></div>
        <div class="col-4 d-print-none">
            <nav>
                <ul class="pagination justify-content-end">
                    <li><span class="page-link">Zeige pro Seite: </span></li>
                    <li class="page-item">
                        <a href="{{ path(app.request.attributes.get('_route') , app.request.query.all|merge({'pp': 10})) }}" class="text-right"><span class="page-link">10</span></a>
                    </li>
                    <li class="page-item">
                        <a href="{{ path(app.request.attributes.get('_route') , app.request.query.all|merge({'pp': 100})) }}" class="text-right"><span class="page-link">100</span></a>
                    </li>
                    <li class="page-item">
                        <a href="{{ path(app.request.attributes.get('_route') , app.request.query.all|merge({'pp': 1000})) }}" class="text-right"><span class="page-link">1000</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'event.name') }}</th>
                <th class="d-print-none">{{ knp_pagination_sortable(pagination, 'Ort', 'room.id') }}</th>
                <th class="d-print-none">{{ knp_pagination_sortable(pagination, 'Begin und Dauer', 'event.start') }}</th>
                <th class="d-none d-print-block">Termin</th>
                <th class="d-print-none">Bestuhlt</th>
                <th class="d-print-none">Licht</th>
                <th class="d-print-none">Ton</th>
                <th class="d-print-none">Art</th>
                <th>Vertrag</th>
                <th>Hotel</th>
                <th>PresseMat.</th>
                <th>Gema</th>
                <th width="200px" class="d-print-none"></th>
            </tr>
        </thead>
        <tbody>
        {% for e in pagination %}
            {# @var e \App\Entity\KloKiEvent #}
            <tr>
                <td><i class="fas {{ e.isFixed ? 'fa-lock' : 'fa-lock-open' }}"> </i> {{ e.name }}</td>
                <td class="d-print-none">{{ e.room }}</td>
                <td class="d-print-none">{{ include('klo_ki_event/_time_range.html.twig', {'event': e}) }}</td>
                <td class="d-none d-print-block">{{ e.start | date('d.m.Y')  }}</td>
                <td class="d-print-none">{{ e.isBestBenoetigt ? 'Ja' : 'Nein' }}</td>
                <td class="d-print-none">
                    {{ e.isLichtBenoetigt ? ('Ja, ' ~ (e.lichtTechniker ?: 'N/N') ) : 'Nein' }}
                    {% if e.lichtTechniker %}
                        <br/>{{ e.lichtTechniker.name }}
                    {% endif %}
                </td>
                <td class="d-print-none">
                    {{ e.isTonBenoetigt ? ('Ja, ' ~ (e.tonTechniker ?: 'N/N')) : 'Nein' }}
                    {% if e.tonTechniker %}
                        <br/>{{ e.tonTechniker.name }}
                    {% endif %}
                </td>
                <td class="d-print-none">{{ e.art | readable_enum('EventArtType') }}</td>
                <td>{{ e.contractState | readable_enum('ContractStateType') }} {% if e.contractState == 'requested' %} (<a href="{{ path('klo_ki_event_create_word', {'id': e.id}) }}">tu es!</a>) {% endif %} </td>
                <td>
                    {{ e.hotelState | readable_enum('HotelStateType') }}
                    {% if e.hotelState == "needed" or e.hotelState == "booked" %}
                    <br/>
                    EZ: {{ e.overnightStays }}
                    {% endif %}
                </td>
                <td>{{ e.pressMaterialState | readable_enum('PressMaterialStateType')}}</td>
                <td>{{ e.gemaListState | readable_enum('PressMaterialStateType')}}</td>
                <td class="d-print-none">
                    <a class="btn btn-primary" href="{{ path('klo_ki_event_show', {'id': e.id}) }}"><span class="fas fa-search"></span></a>
                    <a class="btn btn-primary" href="{{ path('klo_ki_event_edit', {'id': e.id}) }}"><span class="fas fa-edit"></span></a>
                    {% if e.childEvents.count == 0 %}
                        <form method="post" action="{{ path('klo_ki_event_delete', {'id': e.id}) }}" onsubmit="return confirm('Wollen Sie dieses Event wirklich löschen?');" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary d-print-none" href="{{ path('klo_ki_event_new') }}">Neues Event <span class="fas fa-edit"></span></a>
    {{ encore_entry_script_tags('event-filter') }}
{% endblock %}
