{% extends 'base.html.twig' %}

{% block title %}Neues Event{% endblock %}

{% block styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('new-event-form') }}
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Neues Event</h1>


        {{ include(form_template) }}


        <a href="{{ path('klo_ki_event_index') }}">Zurück zur Liste</a>
    </div>

    {{ encore_entry_script_tags('new-event-form') }}

{% endblock %}
