{% extends 'base.html.twig' %}

{% block title %}Neues Event{% endblock %}

{% block styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('new-event-form') }}
{% endblock %}


{% block body %}
    <h1>Neues Event</h1>

    <div class="col-md-4" >

    {{ include('klo_ki_event/_form.html.twig') }}


    <a href="{{ path('klo_ki_event_index') }}">Zurück zur Liste</a>
    </div>

    {{ encore_entry_script_tags('new-event-form') }}

{% endblock %}
