{% extends 'base.html.twig' %}

{% block title %}Neues Event{% endblock %}

{% block body %}
    <h1>Neues Event</h1>

    {#{{ include('klo_ki_event/_form.html.twig') }}#}

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="form-group row is-invalid">
        {{ form_label(form.name, null, {errors: []}) }}
        <div class="col-sm-10">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Speichern') }}</button>

    {{ form_end(form) }}

    <a href="{{ path('klo_ki_event_index') }}">Zurück zur Liste</a>

    {{ encore_entry_script_tags('new-event-form') }}

{% endblock %}
