<div class="row mb-3">
    <div class="col-md-6">
        {{ form_row(form.vorname) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.nachname) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ form_row(form.strasse) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.plz) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.ort) }}
    </div>
</div>

{{ form_row(form.telefon) }}
