{% extends 'base.html.twig' %}

{% block title %}Addressen{% endblock %}

{% block body %}
    <h1>Addressen</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Strasse</th>
                <th>Plz</th>
                <th>Ort</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for addresse in addresses %}
            <tr>
                <td>{{ addresse.vorname }}</td>
                <td>{{ addresse.nachname }}</td>
                <td>{{ addresse.strasse }}</td>
                <td>{{ addresse.plz }}</td>
                <td>{{ addresse.ort }}</td>
                <td>{{ addresse.telefon }}</td>
                <td>{% if addresse.email %}<a href="mailto:{{ addresse.email }}">{{ addresse.email }}</a>{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('addresse_show', {'id': addresse.id}) }}">Details</a>
                    <a class="btn btn-primary" href="{{ path('addresse_edit', {'id': addresse.id}) }}">Bearbeiten</a>
                    {{ include('addresse/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('addresse_new') }}">Neue Adresse anlegen</a>
{% endblock %}
