{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <div class="container">

    <h1>Adresse</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adr.id }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ adr.vorname }}</td>
            </tr>
            <tr>
                <th>Nachname</th>
                <td>{{ adr.nachname }}</td>
            </tr>
            <tr>
                <th>Strasse</th>
                <td>{{ adr.strasse }}</td>
            </tr>
            <tr>
                <th>Plz</th>
                <td>{{ adr.plz }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ adr.ort }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ adr.telefon }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ adr.email }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('addresse_edit', {'id': adr.id}) }}"><span class="fas fa-edit"></span></a>
    {% if adr.kloKiEvents.count == 0 and adr.users.count == 0%}
        {{ include('addresse/_delete_form.html.twig') }}
    {% endif %}

    {% if adr.users.count > 0 %}
        <h2>User mit dieser Adresse</h2>
        <ul>
            {% for user in adr.users %}
                <li><a href="{{ path('user_show', {'id': user.id}) }}">{{ user }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if adr.kloKiEvents.count > 0 %}
    <h2>Events zu dieser Adresse</h2>
    <ul>
        {% for event in adr.kloKiEvents %}
            <li><a href="{{ path('klo_ki_event_show', {'id': event.id}) }}">{{ event }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>
{% endblock %}
